PORT=5005
GOOGLE_SPREADSHEET_ID=your_google_spreadsheet_id
GOOGLE_CLIENT_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
GOOGLE_SHEET_ANNOUNCEMENTS=announcements
GOOGLE_SHEET_EVENTS=events
GOOGLE_SHEET_SCHOOL_INFO=school_info
